nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .logo {
    color: #14213D;
}

.navbar.scrolled ul li a {
    color: #14213D;
}

.logo {
    font-size: 36px;
    font-family: 'Fanwood Text', serif;
    color: #ffffff;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

